html {
  font-family: Times, "Times New Roman", serif;
  letter-spacing: 8px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  background: url(/assets/starfield.gif);
  color: white;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
}

header {
  margin-top: 10rem;
  font-size: 3rem;
}

header,
h1,
p {
  animation-duration: 0.1s;
  animation-name: flicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

main {
  flex: 1;
}

#badges {
  display: flex;
  justify-content: center;
}

#badges img {
  padding: 0 0.8rem;
}

@keyframes flicker {
  0% {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  10%,
  100% {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}
