html {
  font-family: Times, "Times New Roman", serif;
  letter-spacing: 6px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  background-color: black;
  color: white;
  height: 100%;
  display: flex;
}

pre {
  letter-spacing: 0px;
  font-family: monospace;
}

a {
  color: white;
  text-decoration-style: wavy;
  text-decoration-color: #e7e7e7a4;
}

a:hover {
  text-decoration-color: white;
}

h1,
p {
  margin: 0.5rem;
}

p {
  line-height: 1.5;
}

.blog article > p {
  letter-spacing: 2px;
  line-height: 2;
}

::selection {
  background: #05ffb441;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 1rem;
}

html:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.1;
  background-image: url(/assets/strobe.gif);
  pointer-events: none;
}

header {
  margin-top: 10rem;
  font-size: calc(3vw + 1rem);
}

header,
h1,
p.flicker,
pre,
time {
  animation-duration: 0.1s;
  animation-name: flicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main > img {
  max-width: calc(100vw - 3rem);
}

#badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#badges img {
  padding: 0.4rem 0.8rem;
}

footer > p {
  text-align: center;
}

main > nav > ul {
  display: flex;
  list-style: none;
  padding: 0;
}

main > nav > ul > li {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  width: 5rem;
  text-align: center;
  align-items: center;
}

main > nav > ul > li > a {
  color: white;
}

main > nav > ul > li > a > img {
  margin-bottom: 1rem;
  height: 2rem;
  max-width: 3rem;
}

@keyframes flicker {
  0% {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  10%,
  100% {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

.blog article {
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.blog article > div {
  display: flex;
  align-items: center;
}
.blog article > div > time {
  margin-left: 1rem;
}
