@font-face {
	font-family: "HP100LX6x8";
	src: url("/fonts/HP_100LX_6x8.woff") format("woff");
	font-display: block;
}

@font-face {
	font-family: "HP100LX8x8";
	src: url("/fonts/HP_100LX_8x8.woff") format("woff");
	font-display: block;
}

:root {
	--background: #050705ee;
	--background-light: #101112;
	--code-background: #63ffa11a;
	--text: #ededed;
	--text-dark: #999999;
	--heading: #e5e5e5;
	--link-color: #ffffff;

	--accent: #e9e8f0;
	--border-color: var(--accent);
	--border-width: 2px;
	--border-radius: 8px;
	--border: var(--border-width) solid var(--border-color);
}

html {
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: #939b9a var(--background);
	color: var(--text);
	margin: 0;
	padding: 0;
	height: 100vh;
	height: 100dvh;
	box-sizing: border-box;
	display: flex;
}

* {
	font-family: "HP100LX6x8", monospace;
}

#backgroundcontainer {
	position: fixed;
	top: -10px;
	left: -10px;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: #040705ee;
	background-image: url("/bg.jpg");
	background-blend-mode: color-dodge;

	filter: url('data:image/svg+xml,\ <svg xmlns="http://www.w3.org/2000/svg">\ <filter id="waves" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">\ <feTurbulence type="turbulence" baseFrequency="0.006 0.01" numOctaves="1" seed="1" stitchTiles="noStitch" result="turbulence" />\ <feDisplacementMap in="SourceGraphic" in2="turbulence" scale="20" xChannelSelector="G" yChannelSelector="A" result="displacementMap" />\ </filter>\ </svg>#waves');
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	font-weight: 100;
}

a {
	opacity: 0.8;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: var(--link-color);
	transition: all 0.1s ease-in-out;

	&:hover {
		opacity: 1;
	}
}

* {
	box-sizing: border-box;
}

input,
textarea {
	resize: none;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
	border: 1px solid #ccc;
	background-color: #ffffff1b;
	padding: 0.4rem 0.6rem;
	color: #fff;
}

input[type="submit"],
button {
	display: inline-flex;
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
	cursor: pointer;
	width: fit-content;
}

input[type="submit"] {
	margin-top: 0.6rem;
}
